html{
  scroll-behavior: smooth;
}
body{
  width:100%;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    /*Background Styles*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    font-size: 4em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;
}
.hero h2{
  color: white;
}
.nosotros{
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://www.key.com/kco/images/Banner_Professional_Services.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
.telText{
  color: blue;
}
.servicios{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.servicios img{
	width: 40%;
	text-align: center;
}
.servicios h1{
	color: #666;
	font-weight: 100;
}
.servicios .images{
	padding-top: 30px;
}
.images .col-md-3{
	padding-top: 20px;
}
.cajasNoticias{
  border-radius: black 3px outset;
}
